* {
  font-family: "Avenir";
}

li {
  list-style: none;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  background-color: #323232;
  color: #fff;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav {
    position: fixed;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 3.5rem;
    width: 100%;
  }
}
.nav__title {
  text-align: center;
  background-color: #323232;
  color: #fff;
}
.nav__title img {
  height: 5vh;
  width: auto;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}
.nav__links li {
  padding: 1rem 0;
}
.nav__link {
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.nav__link--active {
  border-bottom: 4px solid #FFF;
}
.nav__page {
  background-color: #323232;
  color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  height: 50vh;
  background-image: url("../../../assets/images/hero-bio.jpg");
  background-size: cover;
  margin: 0;
  padding-left: 1rem;
}
.hero__title {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-size: 2rem;
  color: #FFF;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.about__title {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__container {
  width: 100%;
  height: auto;
}
.about__image {
  width: 100%;
  height: auto;
}
.about__quote {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.4rem;
}
.about__bio {
  width: 100%;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
.about__bio__title {
  font-size: 1.3rem;
  font-weight: 550;
  padding-bottom: 1rem;
}
.about__bio__para1 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  font-weight: 400;
}
.about__bio__para2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
  font-weight: 400;
}

.gallery {
  padding: 0 1rem;
  background-color: #FAFAFA;
  justify-content: center;
}
.gallery__title {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.gallery_photos {
  display: flex;
  flex-wrap: wrap;
}
.gallery__photo {
  display: flex;
  width: 100%;
}
.gallery__photo img {
  width: 100%;
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #323232;
  color: #fff;
}
.footer__assoc {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 0.889rem;
}
.footer__info__name {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 0.889rem;
  font-weight: 600;
}
.footer__info__area {
  padding: 1rem 0;
}
.footer__logo {
  height: 7vh;
  width: auto;
  padding-bottom: 1rem;
}
.footer__copyright {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 0.889rem;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.social__title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.9rem;
}
.social__icon {
  height: 30px;
  width: auto;
}/*# sourceMappingURL=main.css.map */