* {
  font-family: "Avenir";
}

li {
  list-style: none;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  background-color: #323232;
  color: #fff;
}
.nav__title {
  text-align: center;
  background-color: #323232;
  color: #fff;
}
.nav__title img {
  height: 4vh;
  max-height: 20px;
  max-width: 120px;
  width: auto;
}
.nav__page {
  background-color: #323232;
  color: #fff;
  padding: 1rem 0;
}
.nav__page--inactive {
  color: #AFAFAF;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  text-align: center;
  width: 100%;
}
.nav__link--active {
  border-bottom: 5px solid #FFF;
}

.hero {
  display: flex;
  align-items: center;
  height: 25vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  margin: 0;
}
.hero__title {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.75rem;
  color: #FFF;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
  .nav__title {
    padding-top: 0.8rem;
    padding-left: 3rem;
    justify-content: center;
    align-items: center;
  }
  .nav__title img {
    height: 3.5vh;
    width: auto;
    margin-right: 5rem;
  }
  .nav__links {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }
  .nav__page {
    padding-bottom: 1.5rem;
  }
  .nav__link--active {
    max-width: 87px;
  }
  .hero {
    height: 58vh;
  }
  .hero__title {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 4.75rem;
    line-height: 4.25rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 98vh;
  }
  .hero__title {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 4.75rem;
    line-height: 4.25rem;
    padding-left: 12rem;
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.about__title {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__container {
  overflow: hidden;
  height: 40%;
}
.about__image {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__quote {
  justify-self: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-bottom: 1.4rem;
}
.about__bio {
  width: 100%;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
.about__bio__title {
  font-size: 1.3rem;
  font-weight: 550;
  padding-bottom: 1rem;
}
.about__bio__para1 {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}
.about__bio__para2 {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  padding-bottom: 1rem;
}

.gallery {
  padding: 0 1rem;
  background-color: #FAFAFA;
  justify-content: center;
}
.gallery__title {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.gallery_photos {
  display: flex;
  flex-wrap: wrap;
}
.gallery__photo {
  display: flex;
  width: 100%;
}
.gallery__photo img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .about {
    padding: 0 3rem;
  }
  .about__title {
    padding-top: 2.8rem;
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .about__contatiner {
    width: 100%;
    height: auto;
  }
  .about__image {
    padding: 0 4rem;
    aspect-ratio: 16/7;
  }
  .about__quote {
    padding: 0 4rem;
  }
  .about__bio {
    padding: 1rem 4rem;
  }
  .about__bio__paras {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .gallery__title {
    padding-left: 1.65rem;
  }
  .gallery__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .gallery__photo {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 0 12rem;
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .about__image {
    aspect-ratio: 16/8;
  }
  .gallery {
    padding: 0 6rem;
  }
  .gallery__title {
    padding-top: 2rem;
    padding-left: 2.5rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #323232;
  color: #fff;
}
.footer__assoc {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 1rem 0;
}
.footer__info__name {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.footer__info__area {
  padding: 1.5rem 0;
}
.footer__logo {
  height: 36px;
  min-height: 36px;
  width: auto;
  align-self: center;
  padding-top: 1rem;
}
.footer__copyright {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-top: 1rem;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.social__title {
  width: 50%;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}
.social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.9rem;
  padding-top: 0.2rem;
}
.social__icon {
  height: 25px;
  width: auto;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem;
  }
  .footer__assoc {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .footer__info {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .footer__container__logo {
    display: flex;
    align-self: flex-start;
    order: -1;
    padding-right: 1rem;
    width: 30%;
  }
  .footer__logo {
    align-self: center;
    padding-left: 7rem;
  }
  .footer__copyright {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 2rem;
  }
  .social {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    order: -2;
  }
  .social__title {
    width: 50%;
  }
  .social__icons {
    width: 50%;
    flex-direction: row;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    justify-content: flex-start;
    padding-left: 10rem;
  }
  .footer__assoc {
    width: 70%;
  }
  .footer__copyright {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */