* {
    font-family: 'Avenir';
}


li {
    list-style: none;
}

.spacer {
  height: 5rem;
}


.divider {
  height: 2px;
  background-color: $mercury;
  margin: $spacer;

  &--full {
    margin: $largeSpace 0;
  }
}