* {
    font-family: 'Avenir' , sans-serif;
}


li {
    list-style: none;
}

.spacer {
  height: 5vh;
}


.divider {
  height: 2px;
  background-color: $mercury;
  margin-bottom: $spacer;

  &--full {
    margin-bottom: $largeSpace;
  }
}