.footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    @include light-OnDark (#fff);

    &__assoc {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        @include footerCopy;
    }

    &__info__name {

        @include footerCopy;
        font-weight: 600;
    }

    &__info__area {
        padding: 1rem 0;

       
    }

    &__logo {
        height: 7vh;
        width: auto;
        padding-bottom: 1rem;
    }

    &__copyright {
        @include footerCopy;
    }
}

.social {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;

    &__title {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;    
    }

   &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.9rem;
   }

   &__icon {
    height: 40px;
    width: auto;
   }

}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
           
    &__assoc {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        padding: 0;
    }

    &__container__logo {
        align-self: center;
        order: -1;
        padding-right: 1rem;
    }

    &__copyright {
        padding-top: 2rem;
    }
}

}
    .social {
        flex-wrap: wrap;
        flex-direction: row;
        order: -2;

    &__icons {
        flex-direction: row;
    }
}
