@import "../1-Helpers/_variables.scss";
@import "../1-Helpers/_mixins.scss";
@import "../1-Helpers/_functions.scss";


.nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    @include light-OnDark (#fff);
    height: 80px;

    &__title {
        text-align: center;
        @include light-OnDark (#fff);
        transition: transform 1s ease-in-out;

        &:hover {
            animation: wiggle 1s ease-in-out infinite;
            background-color: #32323200;
        }
    }

    // Logo max sizes according to style guide
    &__title img {
        height: 4vh;
        max-height: 20px;
        max-width: 120px;
        width: auto;
    }

    &__page {
        @include light-OnDark (#fff);
        padding: 1rem 0;
        transition: color 0.35s ease-in-out, font-size 0.4s ease;
        &--inactive {
            color: $silver;
        }

        &:hover {
            animation: neonColorChange 2s infinite;
            font-size: 1.3rem;
            border-top: 3px solid #FFF;
            padding-top: 0.7rem;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    &__link {
        text-decoration: none;
        text-align: center;
        width: 100%;
        

        &--active {
            border-bottom: 5px solid #FFF;
        }
    }
}

.spacer {
    height: 80px;
}

.hero {
    display: flex;
    align-items: center;
    height: 24vh;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
        url("../assets/images/hero-bio.jpg");
    background-size: cover;
    margin: 0;

    &__title {
        @include pageHeader;
        color: $white;
        padding-left: 1rem;
    }
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;

        &__title {
            padding-top: 0.8rem;
            padding-left: 3rem;
            justify-content: center;
            align-items: center;
        }

        &__title img {
            height: 3.5vh;
            width: auto;
            margin-right: 5rem;
        }

        &__links {
            display: flex;
            justify-content: space-evenly;
            width: 30%;
        }

        &__page {
            padding-bottom: 1.5rem;
        }

        &__link--active {
            max-width: 100px;
        }
    }

    .hero {
        height: 58vh;

        &__title {
            @include dt-pageHeader;
            padding-top: 4.5rem;
            padding-left: 2rem;
        }
    }

}

@media (min-width: 1280px) {

    .nav {
        padding-left: 6rem;

        &__link {
            width: 25%;
        }

        &__links {
            width: 30%;
            display: flex;
            gap: 0.01rem;
        }
    }

    .hero {
        height: 78vh;


        &__title {
            @include dt-pageHeader;
            padding-left: 8rem;
        }
    }

}