@import "../1-Helpers/_variables.scss";
@import "../1-Helpers/_mixins.scss";


.nav {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    @include light-OnDark (#fff);

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
    }

    @media (min-width: 1280px) {
        position: fixed;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 3.5rem;
        width: 100%;
    }

    &__title {
        text-align: center;
        @include light-OnDark (#fff);
    }

    &__title img{
        height: 5vh;
        width: auto;
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    &__links li {
        padding: 1rem 0;
    }

    &__link {
        text-decoration: none;
        width: 100%;
        text-align: center;

        &--active {
            border-bottom: 4px solid #FFF;
        }
    }

    &__page {
        @include light-OnDark (#fff);
    }
}

.hero {
    display: flex;
    align-items: center;
    height: 50vh;
    background-image: url("../../../assets/images/hero-bio.jpg");
    background-size: cover;
    margin: 0;
    padding-left: 1rem;
    
    &__title {
        @include dt-subheader;
        font-size: 2rem;
        color: $white;
        
    }

}