
.about {
    display: flex;
    flex-wrap: wrap;
    @include horiSpace($largeSpace);
    margin-top: $smallSpace;

    &__title {
        @include sectionHeader;
        @include headSpace;

    }
 
    &__container {
        overflow: hidden;
        height: 40%;
    }

    // Changed aspect ratio of band.jpg to match mockup
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        padding-bottom: $spacer;
    }

    &__quote {
        @include quoteBlock;
        padding-bottom: 2.25rem;

        // Adjust kerning between italicized quote and non-italicized W
        &--kerning {
            padding-right: 0.2rem;
            font-style: italic;
        }
    }

    cite {
        font-style: normal;
    }

    &__bio {
        width: 100%;
        @include bodyCopy;
    }

    &__bio__title {
        @include subHeader;
        color: black;
        padding-bottom: 1.2rem;
    }

    & p {
        @include bodyCopy;
        color: $black;
        padding-bottom: 1rem;
        width: 94%
    }


    @media (min-width: 768px) {
        padding: 0 3rem;

        &__title {
            @include dt-sectionHeader;
            padding-top: 3rem;
            padding-bottom: 1.5rem;
        }

        &__container {
            width: 100%;
            height: auto;
        }

        &__image {
            padding: 0 3rem;
            aspect-ratio: 16 / 7;
            object-fit: cover;
            object-position: center;
        }

        &__quote {
            font-size: 1.3rem;
            padding: 2rem 3rem;

            &--citation {
                line-height: 3rem;
                font-size: 1.1rem;
            }
        }

        &__bio {
            padding: 0 3rem;
        }

        &__bio__title {
            @include dt-subHeader;
        }

        &__bio__paras {
            display: flex;
            gap: 1.7rem;
            padding-bottom: 1rem;

            & p {
                @include dt-bodyCopy;
            }
        }
    }

    @media (min-width: 1280px) {
        padding: 0 8rem;
        @include dt-sectionHeader;

        &__title {
            padding-bottom: 2rem;
        }

        &__image {
            aspect-ratio: 16 / 7;
            padding: 0 6rem;
        }

        &__quote {
            padding: 2rem 6rem;
            width: 80%;
        }

        &__bio {
            padding: 0 6rem;
        }
    }
}

.gallery {
    padding: 0 1rem;
    background-color: $alabaster;
    justify-content: center;

    &__title {
        @include sectionHeader;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    &_photos {
        display: flex;
        flex-wrap: wrap;
    }


    &__photo {
        display: flex;
        width: 100%;
    }

    &__photo img {
        width: 100%;
        height: auto;
        padding-bottom: 1rem;
        filter: grayscale(100%);
        transition: filter 0.55s ease;
    }

    &__photo:hover img {
        filter: grayscale(0%);
    }

    @media (min-width: 768px) {
        &__title {
            @include dt-sectionHeader;
            padding-top: 3rem;
            padding-bottom: 1.5rem;
            padding-left: 3.55vw;
        }

        &__photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            padding-bottom: 1rem;
        }

        &__photo {
            width: 30%;
        }
    }

    @media (min-width: 1280px) {
        &__title {
            padding-top: 3rem;
            padding-bottom: 2rem;
            padding-left: 3.55vw;
        }
    }
}


.form {
    width: 100%;
    

    &__pfp {
        // @include horiMarg($spacer);
        margin-top: 1rem;
    };

    & label {
        @include special-text(0.8rem);
        width: 100%;
        color: $silver;

    }

    &__name {
        border: 1px solid $mercury;
        border-radius: 4px;
        background-color: $alabaster;
        min-height: 48px;
        width: 100%;
        margin-bottom: $largeSpace;
    } 

    &__field {
        border: 1px solid $mercury;
        border-radius: 4px;
        background-color: $alabaster;
 
        width: 100%;
        height: 15vh;
        min-height: 48px;
        margin-top: 4px;
        margin-bottom: 1rem;

        &--error {
            border-color: red;
        }
    }
    

    &__submit {
        @include button($black);
        width: 100%;
    }
}

::placeholder {
    color: $black;
    @include bodyCopy;
    padding-left: $spacer;
};

textarea {
     resize: none;

&::placeholder {
    padding-top: 0.5rem;
};
};

.comments {
    @include horiMarg($largeSpace);
    padding-top: 2vh;
    
    &__header {
        @include sectionHeader;
        @include vertMarg($spacer);
    }
    
    &__new-post {
        display: flex;
    }


    &__pfp {
        
        background-color: $mercury;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: $xlargeSpace;
        object-fit: cover;
        object-position: left;
    }
    
    &__text {
        width: 100%;
    }

    &__post {
        display: flex;
        // margin: 0 1rem;

        &__top {
            @include vertSpace($smallSpace);
            display: flex;
            justify-content: space-between;
        }

        &__name {
            @include subHeader;
            font-weight: 600;
            color: $black;
        }

        &__date {
            @include special-text(1.1rem);
            color: $silver;
        } 

        &__comment {
            @include bodyCopy;
            
        }
    }

    @media (min-width: 768px) {

        &__pfp {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
}




    
