
.hero-shows {
        display: flex;
        flex-wrap: wrap;
        height: 70vh;
        background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
            url("../assets/images/hero-shows.jpg");
        background-size: cover;
        margin: 0;

        &__title {
            @include pageHeader;
            color: $white;
            padding-left: 1rem;
            width: 70%;

            &__album {
                @include subHeader;
                color: #FFF;
                padding-top: 2rem;
                padding-bottom: 1rem;
                padding-left: 1rem;
            }
        }

        &__iframe {
            width: 100%;
        }
    } 

    iframe {
        width: 100%;
        padding: 0 1rem;
        padding-bottom: 5vh;
    }

    .shows {
        margin-top: 1rem;
        

        &__title {
            @include pageHeader;
            padding: 0 1rem;
            padding-bottom: 1rem;
            
        }

        &__gig {

            &__header {
                color: $silver;
                font-weight: 500;
                font-size: 0.7rem;
            }

            &__pad {
                margin-left: 1rem;
                margin-right: 1rem;
                padding-bottom: 1rem;
            }

            &__button {
                @include button($black);
            }
        }

    }