
.dt-shows__headers {
    display: none;
}

.shows {
    
    margin-top: 1rem;
    
    &__title {
        @include sectionHeader;
        @include headSpace;
        @include horiMarg($largeSpace);
        color: black;
    }

    &__gig {
        
        &__cont {
            @include vertSpace($smallSpace);
            @include horiMarg($largeSpace);
        }

        &__header {
            @include special-text(0.8rem);
            color: $silver;
            padding-bottom: $smallSpace;
        }

        &__date {
            @include subHeader;
            color: $black;
            font-weight: 600;
        }

        &__venue, &__location {
            @include dt-bodyCopy;
            color: $darkblk;
            font-weight: 500;
           } 

           &__button__cont {
            display: flex;
            @include horiSpace($largeSpace);
           }

        &__button {
            @include button($black);
            width: 100%;
            margin-top: $smallSpace;
        }
    }

    @media (min-width: 768px) {
    &__title {
        @include dt-sectionHeader;
        @include dt-headSpace;
        @include horiMarg($largeSpace);
        color: black;
    }

    &__gig {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__cont {
            
            @include vertSpace($smallSpace);
            @include horiMarg($largeSpace);
            width: 15%;


            &--med {
                width: 20%;
            }

            &--big {
                width: 22%;
            }
        }
            &__header {
                @include special-text(0.8rem);
                color: $silver;
                padding-bottom: 0;
                display: none;
            }
    
               &__button__cont {
                display: flex;
                width: auto;
               }
    
            &__button {
                @include button($black);
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) {
    
    .divider {
        width: 100%;
    }

    .dt-shows__headers {
        display: flex;
        flex-direction: row;
        @include special-text();
        color: silver;
        font-weight: 400; 
        @include vertMarg($spacer);
        @include horiMarg($largeSpace);
        

        &--date {
           width: 26%;
        }

        &--venue {
            width: 26%;
         }

         &--loca {
            width: 25%;
         }

        //  &__butt {
        //     width: auto;
        //  }
    }
    
}

@media (min-width: 1280px) {
.shows {
    display: flex;
    @include horiMarg($maxSpace);

    &__title {
        width: 20%;
    }
}
    
    .shows-list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dt-shows__headers {
        flex-direction: row;
        width: 100%;
    }
}