body {
    // font-family: 'Avenir', sans-serif;
}


.about {
    display: flex;
    flex-wrap: wrap;
    @include horiSpace($largeSpace);
    margin-top: $smallSpace;

    &__title {
        @include sectionHeader;
        @include headSpace;
        }
 
    &__container {
        overflow: hidden;
        height: 40%;
    }

    // Changed aspect ratio of band.jpg to match mockup
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        padding-bottom: $spacer;
    }

    &__quote {
        @include quoteBlock;
        padding-bottom: 2.25rem;

        // Adjust kerning between italicized quote and non-italicized W
        &--kerning {
            padding-right: 0.2rem;
            font-style: italic;
        }
    }

    cite {
        font-style: normal;
    }

    &__bio {
        width: 100%;
        @include bodyCopy;
    }

    &__bio__title {
        @include subHeader;
        color: black;
        padding-bottom: 1.2rem;
    }

    & p {
        @include bodyCopy;
        color: $black;
        padding-bottom: $spacer;
        width: 94%
    }


    @media (min-width: $tablet) {
        padding: 0 $maxSpace;

        &__title {
            @include dt-sectionHeader;
            padding-top: $maxSpace;
            padding-bottom: 1.5rem;
        }

        &__container {
            width: 100%;
            height: auto;
        }

        &__image {
            padding: 0 $maxSpace;
            aspect-ratio: 16 / 7;
            object-fit: cover;
            object-position: center;
        }

        &__quote {
            font-size: 1.3rem;
            padding: $xlargeSpace $maxSpace;

            &--citation {
                line-height: $maxSpace;
                font-size: 1.1rem;
            }
        }

        &__bio {
            padding: 0 $maxSpace;
        }

        &__bio__title {
            @include dt-subHeader;
        }

        &__bio__paras {
            display: flex;
            gap: 1.7rem;
            padding-bottom: $spacer;

            & p {
                @include dt-bodyCopy;
            }
        }
    }

    @media (min-width: $desktop) {
        padding: 0 $maxSpace*4;
        @include dt-sectionHeader;

        &__title {
            padding-bottom: $maxSpace;
        }

        &__image {
            aspect-ratio: 16 / 7;
            padding: 0 $maxSpace*2;
        }

        &__quote {
            @include dt-quoteBlock;
            padding: $xlargeSpace $maxSpace*2;
            width: 80%;
        }

        &__bio {
            padding: 0 $maxSpace*2;
        }
    }
}

.gallery {
    padding: 0 1rem;
    background-color: $alabaster;
    justify-content: center;

    &__title {
        @include sectionHeader;
        padding-top: $xlargeSpace;
        padding-bottom: $spacer;
    }

    &_photos {
        display: flex;
        flex-wrap: wrap;
    }


    &__photo {
        display: flex;
        width: 100%;
    }

    &__photo img {
        width: 100%;
        height: auto;
        padding-bottom: 1rem;
        filter: grayscale(100%);
        transition: filter 0.55s ease;
    }

    &__photo:hover img {
        filter: grayscale(0%);
    }

    @media (min-width: $tablet) {
        &__title {
            @include dt-sectionHeader;
            padding-top: $maxSpace;
            padding-bottom: $largeSpace;
            padding-left: 3.55vw;
        }

        &__photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: $spacer;
            padding-bottom: $spacer;
        }

        &__photo {
            width: 30%;
        }
    }

    @media (min-width: $desktop) {
        @include horiMarg($maxSpace*2);

        &__title {
            padding-top: $maxSpace;
            padding-bottom: $xlargeSpace;
            padding-left: 3.55vw;
        }
    }
}

.comments {
    @include horiMarg($largeSpace);
    padding-top: 2vh;
    
    &__header {
        @include sectionHeader;
        @include vertMarg($spacer);
    }
    
    &__new-post {
        display: flex;
        padding-bottom: $xlargeSpace;
    }

 
    &__pfp {
        background-color: $mercury;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: $xlargeSpace;
        object-fit: cover;
        object-position: left;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__button-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-top: $spacer;
        padding-bottom: $spacer;

    }

    &__delete {
        @include button($black);
        width: 30%;
        // margin-left: 10%;
        }

    // &__like {
    //     @include button($black);
    //     width: 20%;
    //     margin-left: 10%;
    // }

       // &:hover {
        //    scale: 1.2;
        // }
    &__like-container {
        display: flex;
        align-items: center;
        }

    &__like-thumb {
        height: 5rem;
        width: auto;
        margin-left: 4rem;
        margin-bottom: 3;
        padding-bottom: $spacer;
        align-self: center;
    
        &:hover{
            cursor: pointer;
        }
    
        &.clicked {
            animation: likeAnimation 0.4s;
        }
    }
    
    @keyframes likeAnimation {
        0% {
            content: url('../assets/Icons/like/thumbs-up.png');
        }
    
        25% {
            content: url('../assets/Icons/like/thumbs-up-clicked.png');
        }
    
        50% {
            content: url('../assets/Icons/like/thumbs-up-clicked-1.png');
        }

        65% {
            content: url('../assets/Icons/like/thumbs-up-clicked-3.png');
        }
    
        90% {
            content: url('../assets/Icons/like/thumbs-up-clicked-2.png');
        }

        100% {
            content: url('../assets/Icons/like/thumbs-up-done.png');
        }
    }


    &__post {
        display: flex;
        flex-wrap: wrap;
        // margin: 0 1rem;

        &__pfp {
            width: 10%;
            margin-right: $largeSpace;
            margin-top: $smallSpace;
        }

        &__top {
            @include vertSpace($smallSpace);
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__name {
            @include subHeader;
            font-weight: 600;
            color: $black;
        }

        &__date {
            @include special-text(1.1rem);
            color: $silver;
            justify-self: flex-end;
        } 

        &__comment {
            @include bodyCopy;
        }
    }

    @media (min-width: $tablet) {
        &__header {
            @include dt-headSpace;
            @include horiMarg($spacer);
        }
    
        &__new-post {
            display: flex;
            @include horiSpace($maxSpace);
        }        
    }
}

@media (min-width: $tablet) {
    #comments__posted {
        @include horiSpace($maxSpace);
    }

    .divider {
        @include horiSpace($maxSpace);
        @include horiMarg($maxSpace);
    }
}

@media (min-width: $desktop) {
    .comments__new-post {
        @include horiMarg($maxSpace*3);
    }

    #comments__posted {
        @include horiMarg($maxSpace*3);
    }

    .divider {
        @include horiSpace(0rem);
        @include horiMarg(0rem);

        &--form {
            @include horiMarg($maxSpace*6);
        }
    }
}

.form {

    width: 100%;

    &__pfp {
        // @include horiMarg($spacer);
        margin-top: 1rem;
    };

    & label {
        @include special-text(0.8rem);
        width: 100%;
        color: $silver;

    }

    &__name {
        border: 1px solid $mercury;
        border-radius: 4px;
        background-color: $alabaster;
        min-height: 48px;
        width: 100%;
        margin-bottom: $largeSpace;
    } 

    &__field {
        border: 1px solid $mercury;
        border-radius: 4px;
        background-color: $alabaster;
 
        width: 100%;
        height: 15vh;
        min-height: 48px;
        margin-top: 4px;
        margin-bottom: 1rem;

        &--error {
            border-color: red;
        }
    }
    

    &__submit {
        @include button($black);
        width: 100%;
    }

    @media (min-width: $tablet) {
        &__button__container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        &__submit {
            justify-self: flex-end;
            @include button($black);
            width: 35%;
        }
}

::placeholder {
    color: $black;
    @include bodyCopy;
    padding-left: $spacer;
};

textarea {
     resize: none;

&::placeholder {
    padding-top: 0.5rem;
};
};
}



@media (min-width: $desktop) {
   
    .comments {
        @include horiMarg($maxSpace*3);

    &__header {
        @include dt-sectionHeader;
    }

   &__new-post {
    @include horiSpace($maxSpace*3);
   }
   
    #comments__posted {
        @include horiSpace($maxSpace*3);
    }
}

.divider {

}
}
