.dt-shows__headers {
    display: none;
  }
  
  .shows {
    margin-top: 1rem;
  
    &__title {
      @include sectionHeader;
      @include headSpace;
      @include horiMarg($largeSpace);
      color: black;
    }
  
    &__gig {
      @include horiSpace($largeSpace);

      &:hover {
        background-color: $alabaster;
      }

      &:active {
        background-color: $silver;
      }
  
      &__cont {
        @include vertSpace($smallSpace);
      }
  
      &__header {
        @include special-text(0.8rem);
        color: $silver;
        padding-bottom: $smallSpace;
      }
  
      &__date {
        @include subHeader;
        color: $black;
        font-weight: 700;
      }
  
      &__venue,
      &__location {
        @include dt-bodyCopy;
        color: $darkblk;
      }
  
      &__button__cont {
        display: flex;
        padding-bottom: $maxSpace*3;
      }
  
      &__button {
        @include button($black);
        width: 100%;
      }
    }
  
    @media (min-width: $tablet) {
      &__title {
        @include dt-sectionHeader;
        @include dt-headSpace;
        color: black;
      }
  
      &__gig {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: $smallSpace;
  
        &__cont {
        width: 9rem;

          &--loca {
            width: 11rem;
          }
  
          &--button {
            width: 12rem;
          }
        }
  
        &__button--hide {
            @include button($black);
            width: 100%;
            display: none;
        }
  
        &__header {
          @include special-text(0.8rem);
          color: $silver;
          display: none;
        
        }
  
        &__button {
          @include button($black);
          padding: 1rem $xlargeSpace;
          width: 100%;
        }
      }
    }
  }
  
  @media (min-width: $tablet) {  
    .dt-shows__headers {
      @include special-text();
      color: silver;
  
      @include horiMarg($largeSpace);
  
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 3.5rem;
      width: 100%;
  
      &--date,
      &--venue,
      &--loca {
        width: 9rem;
      } 

      &--button {
        display: block;
        width: 12rem;
      }
    }
    }
  
  @media (min-width: $desktop) {
    .shows {
      display: flex;
      @include horiMarg($maxSpace*3);
  
      &__title {
        width: 20%;
      }
    }
  
    .shows-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
    }
  
    .dt-shows__headers {
      flex-direction: row;
      padding-top: $maxSpace;
      padding-right: 0rem;
    }
  }