// Colors 

    // Primary
$black: #323232; //Primary text color, dark backgrounds
$silver: #AFAFAF; //Secondart text color, inactive Call To Action text color
$white: #FFF; //Primary text olor on dark background, light background, active CTA

    // Secondary
$darkblk: #000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

