@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTProBold.ttf"), url("../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTProBold.ttf"), url("../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@keyframes wiggle {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
@keyframes neonColorChange {
  0% {
    color: #fed8ee;
  }
  50% {
    color: #a2e3ef;
  }
  100% {
    color: #fed8ee;
  }
}
* {
  font-family: "Avenir", sans-serif;
}

li {
  list-style: none;
}

.spacer {
  height: 5vh;
}

.divider {
  height: 2px;
  background-color: #E1E1E1;
  margin-bottom: 1rem;
}
.divider--full {
  margin-bottom: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

h4 {
  font-weight: 400;
}

@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir", sans-serif;
  src: url("../assets/font/AvenirNextLTProBold.ttf"), url("../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@keyframes wiggle {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
@keyframes neonColorChange {
  0% {
    color: #fed8ee;
  }
  50% {
    color: #a2e3ef;
  }
  100% {
    color: #fed8ee;
  }
}
.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  background-color: #323232;
  color: #fff;
  height: 80px;
}
.nav__title {
  text-align: center;
  background-color: #323232;
  color: #fff;
  transition: transform 1s ease-in-out;
}
.nav__title:hover {
  animation: wiggle 1s ease-in-out infinite;
  background-color: rgba(50, 50, 50, 0);
}
.nav__title img {
  min-height: 20px;
  min-width: 120px;
}
.nav__page {
  background-color: #323232;
  color: #fff;
  padding: 1rem 0;
  transition: color 0.35s ease-in-out, font-size 0.4s ease;
}
.nav__page--active {
  border-bottom: 5px solid #FFF;
  padding-bottom: 0.5rem;
}
.nav__page--inactive {
  color: #AFAFAF;
}
.nav__page:hover {
  animation: neonColorChange 2s infinite;
  font-size: 1.3rem;
  padding-top: 0.7rem;
  border-bottom: 5px solid #FFF;
  padding-bottom: 1.2rem;
}
.nav__links {
  display: flex;
  width: 100%;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__link {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .nav__link {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
  .nav__title {
    margin-top: 0.8rem;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
  }
  .nav__title img {
    height: 3.5vh;
    width: auto;
    margin-right: 5rem;
  }
  .nav__links {
    display: flex;
    gap: 1rem;
    width: 50%;
  }
  .nav__page {
    padding-bottom: 1.123rem;
  }
  .nav__link--active {
    max-width: 100px;
  }
}
@media (min-width: 1280px) {
  .nav {
    padding-left: 4.5rem;
  }
}

.spacer {
  height: 80px;
}

.hero {
  display: flex;
  align-items: center;
  height: 32vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  margin: 0;
}
.hero__title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.75rem;
  color: #FFF;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero {
    height: 68vh;
  }
  .hero__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    padding-top: 4.5rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 98vh;
  }
  .hero__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    padding-left: 8rem;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 38vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  margin: 0;
}
.hero__title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.75rem;
  color: #FFF;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .hero {
    height: 60vh;
  }
  .hero__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    padding-top: 4.5rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 90vh;
  }
  .hero__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    padding-left: 8rem;
  }
}
.hero--shows {
  flex-direction: column;
  height: auto;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-shows.jpg");
  background-size: cover;
  margin: 0;
  padding: 2rem 1rem;
  align-items: flex-start;
}
.hero--shows__iframe {
  display: flex;
  width: 100%;
}
.hero--shows__title__container {
  max-width: 85%;
}
.hero--shows__title {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.75rem;
  color: #FFF;
  width: 60%;
  padding-bottom: 3rem;
}
.hero--shows__title__album {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #FAFAFA;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .hero--shows {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
  }
  .hero--shows__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    width: 90%;
  }
  .hero--shows__title__album {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.75rem;
  }
  .hero--shows__iframe {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-right: 40%;
  }
  .hero--shows iframe {
    justify-self: left;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .hero--shows {
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 90vh;
  }
  .hero--shows__title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
  }
  .hero--shows__title__container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .hero--shows__iframe {
    padding-right: 0;
    width: 50%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #323232;
  color: #E1E1E1;
}
.footer a {
  color: #E1E1E1;
  text-decoration: none;
  transition: color 0.35s ease-in-out;
}
.footer a:hover {
  animation: neonColorChange 2s infinite;
}
.footer__assoc {
  display: flex;
  flex-direction: column;
}
.footer__info {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-bottom: 2rem;
}
.footer__info__name {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 600;
}
.footer__info__area {
  padding: 1.5rem 0;
}
.footer__logo {
  height: 36px;
  min-height: 36px;
  width: auto;
  align-self: center;
  padding-top: 0.8rem;
  transition: transform 1s ease-in-out;
}
.footer__logo:hover {
  animation: wiggle 1s ease-in-out infinite;
  background-color: rgba(50, 50, 50, 0);
}
.footer__copyright {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem;
  }
  .footer__assoc {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2rem;
    width: 100%;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
  }
  .footer__info {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
  }
  .footer__info__name {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.25rem;
    letter-spacing: 0.025rem;
    font-weight: 600;
  }
  .footer__container__logo {
    order: -1;
    width: 25%;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-left: 4.5rem;
  }
  .footer__copyright {
    font-weight: 400;
    color: #AFAFAF;
    font-size: 0.93rem;
    line-height: 1rem;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    justify-content: flex-start;
    padding-left: 5%;
  }
  .footer__container__logo {
    padding-left: 16%;
  }
  .footer__assoc {
    width: 70%;
  }
  .footer__copyright {
    width: 100%;
  }
}

.social {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.social__title {
  width: 100%;
  padding-bottom: 1.5rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
}
.social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.9rem;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}
.social__icon {
  height: 25px;
  width: auto;
}
@media (min-width: 768px) {
  .social {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    order: -2;
  }
  .social__title {
    width: 50%;
  }
  .social__icons {
    width: 50%;
    flex-direction: row;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .social__title {
    width: 36.5%;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
}
.about__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__container {
  overflow: hidden;
  height: 40%;
}
.about__image {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  padding-bottom: 1rem;
}
.about__quote {
  font-weight: 600;
  color: #323232;
  font-size: 1.18rem;
  line-height: 2rem;
  text-align: justify;
  padding-bottom: 2.25rem;
}
.about__quote--kerning {
  padding-right: 0.2rem;
  font-style: italic;
}
.about cite {
  font-style: normal;
}
.about__bio {
  width: 100%;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.6rem;
}
.about__bio__title {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.5rem;
  color: black;
  padding-bottom: 1.2rem;
}
.about p {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.6rem;
  color: #323232;
  padding-bottom: 1rem;
  width: 94%;
}
@media (min-width: 768px) {
  .about {
    padding: 0 3rem;
  }
  .about__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
  .about__container {
    width: 100%;
    height: auto;
  }
  .about__image {
    padding: 0 3rem;
    aspect-ratio: 16/7;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .about__quote {
    font-size: 1.3rem;
    padding: 2rem 3rem;
  }
  .about__quote--citation {
    line-height: 3rem;
    font-size: 1.1rem;
  }
  .about__bio {
    padding: 0 3rem;
  }
  .about__bio__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.75rem;
  }
  .about__bio__paras {
    display: flex;
    gap: 1.7rem;
    padding-bottom: 1rem;
  }
  .about__bio__paras p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 0 8rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .about__title {
    padding-bottom: 2rem;
  }
  .about__image {
    aspect-ratio: 16/7;
    padding: 0 6rem;
  }
  .about__quote {
    font-weight: 700;
    color: #323232;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
    padding: 2rem 6rem;
    width: 85%;
  }
  .about__bio {
    padding: 0 6rem;
  }
}

.gallery {
  padding: 0 1rem;
  background-color: #FAFAFA;
  justify-content: center;
}
.gallery__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.gallery_photos {
  display: flex;
  flex-wrap: wrap;
}
.gallery__photo {
  display: flex;
  width: 100%;
}
.gallery__photo img {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  filter: grayscale(100%);
  transition: filter 0.55s ease;
}
.gallery__photo:hover img {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 3.55vw;
  }
  .gallery__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .gallery__photo {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 3.55vw;
  }
}

.comments {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 2vh;
}
.comments__header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #323232;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.comments__new-post {
  display: flex;
  padding-bottom: 2rem;
}
.comments__pfp {
  background-color: #E1E1E1;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.comments__text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.comments__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comments__button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 1rem;
}
.comments__delete {
  background-color: #323232;
  color: #FFF;
  height: 54px;
  width: auto;
  border: none;
  border-radius: 4px;
  line-height: 1.3rem;
  font-size: 1.3rem;
  width: 30%;
}
.comments__delete:hover {
  background-color: #000;
}
.comments__like-container {
  display: flex;
  align-self: center;
}
.comments__like-thumb {
  height: 5rem;
  width: auto;
  margin-left: 4rem;
  margin-bottom: 3;
  padding-bottom: 1rem;
  align-self: center;
}
.comments__like-thumb.clicked {
  animation: likeAnimation 0.4s;
}
@keyframes likeAnimation {
  0% {
    content: url("../assets/Icons/like/thumbs-up.png");
  }
  25% {
    content: url("../assets/Icons/like/thumbs-up-clicked.png");
  }
  50% {
    content: url("../assets/Icons/like/thumbs-up-clicked-1.png");
  }
  65% {
    content: url("../assets/Icons/like/thumbs-up-clicked-3.png");
  }
  90% {
    content: url("../assets/Icons/like/thumbs-up-clicked-2.png");
  }
  100% {
    content: url("../assets/Icons/like/thumbs-up-done.png");
  }
}
.comments__post {
  display: flex;
  flex-wrap: wrap;
}
.comments__post__pfp {
  width: 10%;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}
.comments__post__top {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comments__post__name {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #323232;
}
.comments__post__date {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1rem;
  color: #AFAFAF;
  justify-self: flex-end;
}
.comments__post__comment {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.6rem;
}
@media (min-width: 768px) {
  .comments__header {
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .comments__new-post {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  #comments__posted {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .divider {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments__new-post {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  #comments__posted {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .divider {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .divider--form {
    margin-left: 18rem;
    margin-right: 18rem;
  }
}
.form {
  width: 100%;
}
.form__pfp {
  margin-top: 1rem;
}
.form label {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  width: 100%;
  color: #AFAFAF;
}
.form__name {
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
  min-height: 48px;
  width: 100%;
  margin-bottom: 1.5rem;
}
.form__field {
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  background-color: #FAFAFA;
  width: 100%;
  height: 15vh;
  min-height: 48px;
  margin-top: 4px;
  margin-bottom: 1rem;
}
.form__field--error {
  border-color: red;
}
.form__submit {
  background-color: #323232;
  color: #FFF;
  height: 54px;
  width: auto;
  border: none;
  border-radius: 4px;
  line-height: 1.3rem;
  font-size: 1.3rem;
  width: 100%;
}
.form__submit:hover {
  background-color: #000;
}
@media (min-width: 768px) {
  .form__button__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .form__submit {
    justify-self: flex-end;
    background-color: #323232;
    color: #FFF;
    height: 54px;
    width: auto;
    border: none;
    border-radius: 4px;
    line-height: 1.3rem;
    font-size: 1.3rem;
    width: 35%;
  }
  .form__submit:hover {
    background-color: #000;
  }
}
.form ::-moz-placeholder {
  color: #323232;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.6rem;
  padding-left: 1rem;
}
.form ::placeholder {
  color: #323232;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.6rem;
  padding-left: 1rem;
}
.form textarea {
  resize: none;
}
.form textarea::-moz-placeholder {
  padding-top: 0.5rem;
}
.form textarea::placeholder {
  padding-top: 0.5rem;
}

@media (min-width: 1280px) {
  .comments {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .comments__header {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .comments__new-post {
    padding-left: 9rem;
    padding-right: 9rem;
  }
  .comments #comments__posted {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
.dt-shows__headers {
  display: none;
}

.shows {
  margin-top: 1rem;
}
.shows__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: black;
}
.shows__gig {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.shows__gig:hover {
  background-color: #FAFAFA;
}
.shows__gig:active {
  background-color: #AFAFAF;
}
.shows__gig__cont {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shows__gig__header {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #AFAFAF;
  padding-bottom: 0.5rem;
}
.shows__gig__date {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1.5rem;
  color: #323232;
  font-weight: 700;
}
.shows__gig__venue, .shows__gig__location {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
}
.shows__gig__button__cont {
  display: flex;
}
.shows__gig__button {
  background-color: #323232;
  color: #FFF;
  height: 54px;
  width: auto;
  border: none;
  border-radius: 4px;
  line-height: 1.3rem;
  font-size: 1.3rem;
  width: 100%;
}
.shows__gig__button:hover {
  background-color: #000;
}
@media (min-width: 768px) {
  .shows__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: black;
  }
  .shows__gig {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .shows__gig__cont--date {
    width: 35%;
  }
  .shows__gig__cont--venue, .shows__gig__cont--loca {
    width: 25%;
  }
  .shows__gig__button--hide {
    display: none;
  }
  .shows__gig__header {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #AFAFAF;
    display: none;
  }
  .shows__gig__button {
    background-color: #323232;
    color: #FFF;
    height: 54px;
    width: auto;
    border: none;
    border-radius: 4px;
    line-height: 1.3rem;
    font-size: 1.3rem;
    padding: 1rem 4rem;
    width: 100%;
  }
  .shows__gig__button:hover {
    background-color: #000;
  }
}

@media (min-width: 768px) {
  .dt-shows__headers {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: silver;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
  }
  .dt-shows__headers--date {
    width: 30%;
  }
  .dt-shows__headers--venue {
    width: 20%;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    margin-left: 9rem;
    margin-right: 9rem;
  }
  .shows__title {
    width: 20%;
  }
  .shows-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .dt-shows__headers {
    flex-direction: row;
    width: 65%;
  }
}/*# sourceMappingURL=main.css.map */